<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agroecologico">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".NavigationDrawerActivity"
            android:exported="true" />
        <activity
            android:name=".MenuActivitySalesPerson"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar"/>
        <activity
            android:name=".AddWeightUnit"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".CreateMarketStallActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".MenuActivityAdmin"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.MyActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>
</manifest>